.crud {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.table {
  width: 25%;
  padding: 1rem;
}

.form {
  width: 75%;
  padding: 1rem;
}

.table-buttons,
.form-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
  border-bottom: 3px solid var(--color-primary);
  margin-bottom: 1rem;
}

.form-options-buttons {
  display: flex;
  flex-flow: row wrap;
}

.tab-button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--color-text);
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  vertical-align: bottom;
}

.tab-button:not(:last-child) {
  margin-right: 0.3rem;
}

.tab-button svg {
  width: 1.5rem;
  fill: var(--color-text);
}

.tab-button:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.tab-button:hover svg {
  fill: var(--color-primary);
  transition: all 0.3s ease;
}


@media (max-width: 768px) {

  .table {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}