* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1001;
  color: var(--color-text);
}

.header-logo {
  width: 150px;
  background-color: var(--color-surface);
  padding: 0.2rem;
  border-radius: 5px;
}

.header-logo img {
  width: 100%;
}

main {
  margin-top: var(--header-height);
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
}

footer {
  margin-top: auto;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-bg);
  background-color: var(--color-primary);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: var(--color-text);
}