:root {

  /*//Colors//*/
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-text: #f1f5f9;
  --color-primary: #17a999;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-muted: #94a3b8;

  --color-primary-rgb: 23, 169, 153;

  /*/ progress colors/*/
  --color-pending: #f59e0b;
  --color-in-progress: var(--color-primary);
  --color-completed: var(--color-success);
  --color-canceled: var(--color-danger);

  /*/ progress colors rgb/*/
  --color-pending-rgb: 245, 158, 11;
  --color-in-progress-rgb: 23, 169, 153;
  --color-completed-rgb: 34, 197, 94;
  --color-canceled-rgb: 239, 68, 68;

  /*//Sizes//*/
  --header-height: 60px;
  --menu-width: 250px;
}