.crud {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.table {
  width: 25%;
  padding: 1rem;
}

.form {
  width: 75%;
  padding: 1rem;
}

.table-buttons,
.form-buttons {
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
}

.tab-buttons,
.table-buttons {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 3px solid var(--color-primary);
  margin-bottom: 1rem;
}

.pagination-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.pagination-current {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-surface);
}

.pagination-button {
  border-radius: 0;
}

.pagination-button:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-button:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pagination-button.disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination-button.disabled:hover {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.pagination-current span {
  font-size: 1rem;
  color: var(--color-text);
}

.pagination-button,
.filter-button {
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.3rem;
}

.form-options-buttons {
  display: flex;
  flex-flow: row wrap;
}

.form-lang {
  width: 100%;
  margin: 1rem;
}

.tab-button {
  background-color: var(--color-surface);
  border: 1px solid var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--color-text);
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  vertical-align: bottom;
  transform: translateY(3px);
  transition: all 0.3s ease;
}

.tab-button:not(:last-child) {
  margin-right: 0.3rem;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-button svg,
.filter-button svg,
.pagination-button svg {
  width: 1.5rem;
  fill: var(--color-text);
}

.tab-button:hover,
.tab-button.active {
  background-color: var(--color-primary);
  color: var(--color-text);
  transform: translateY(0px);
}

.tab-content {
  display: none;
  flex-flow: row wrap;
  width: 100%;
}

.tab-content.active {
  display: flex;
}

.upload-image,
.open-gallery {
  padding: 1.5rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  width: fit-content;
}

.upload-image:hover,
.open-gallery:hover {
  background-color: var(--color-primary);
}

.upload-image svg,
.open-gallery svg {
  width: 3rem;
  fill: var(--color-text);
}

.upload-image-input {
  display: none;
}

.form-images label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.modal-images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.modal-images-content {
  width: 70%;
}

.image-data {
  min-width: 200px;
  width: 30%;
}

@media (max-width: 768px) {

  .table {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}